@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body
{
	font-size: 22px;
	color: white;
	background-color: #2A2D43;
	font-family: 'Work Sans', sans-serif;
}



#container
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#logo
	{
		color: #FF84E8;
		font-size: 36px;
	}	
	#menu
	{
		text-align: center;
		background-color: #414361;
		margin-top: 20px;
		color: #ffffff;
		padding: 10px;
	}
	
	.tekst
	{
		text-align: left;
		border-radius: 50px;
		background-color: #414361;
		width: 86%;
		padding-block: 15px;
		margin-block: 15px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-inline: 15px;
	}
	
	
	.button
	{
		text-align: center;
		border-radius: 50px;
		background-color: #414361;
		width: 25%;
		padding-block: 15px;
		margin-block: 15px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	
	.option
	{
		display: inline-block;
		min-width: 50px;
		height: 25px;
		font-size: 18px;
		padding: 10px;
		border-inline: 2px solid #fff;
		transition: ease-in-out 0.05s;
	}
	
	.option:hover
	{
		background-color: rgba(127, 44, 203, 0.4);
		cursor: pointer;
	}
	
	/* Nieodwiedzony link */
a
{
	color: white;
	text-decoration: none;
}



/* link po najechaniu kursorem */
a:hover
{
	color: #FFA9E7;
}

 .gradient-button {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}
.gradient-button-1 {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)}
.gradient-button-1:hover { background-position: right center; }